#container {
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}


/* HEADER */

header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* LOGO */
.titreHeader img {
    margin: 5px 7px;
}

/* TITRE */
#headerTitle {
    padding: 0 10px;
    width: 650px;
    text-align: left;
}

#headerTitle a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3  em;
}

/* NAVIGATION HEADER */
header nav ul {
    padding: 5px;
    margin: auto;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header nav ul li {
    padding: 3px 10px;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* IMG LOGIN */
#imgLogin {
    width: 25px;
}


/*CONTAINER 2 */

#container2 {
    display: flex;
    flex-direction: row;
}

/* CONTENT NAVIGATE LEFT */
#navLeft {
    width: 200px;
    height: 100%;
    padding: 10px;
    padding-top: 20px;
    font-size: 0.9em;
    /*display: none;*/
}

.navIntermediaire {
    margin: 10px 2px;;
  
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px dotted rgb(13, 55, 133);
    border-bottom: 1px dotted rgb(13, 55, 133);
    text-align: center;
}

.sousNav {
    font-size: 0.8em;
    padding: 2px;
    margin: 4px 0px;
    text-align: center;
    border: 1px dotted black;
    border-radius: 5px;
    /*display: none;*/
}

.sousNav a {
    color: inherit;
    text-decoration: none;
}

.navIntermediaire, .navIntermediaire a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}



/* CONTENT */
#content {
    margin: 10px auto;
    padding: 5px;
    border-left: 1px solid rgb(83, 81, 81);
    width: 800px;
    text-align: center;
}

#content h1 {
    padding-top: 60px;
    font-size: 1.5em;
    font-weight: bold;
    height: 80px;
}

#content p {
    padding: 30px 10px;
    line-height: 30px;
}

/* LOGIN FORM */
#loginForm {
    display: flex;
    flex-direction: column;
    height: 130px;
    align-items: center;
}

#content form {
    height: 150px;
    margin: auto;
}

.formPart {
    margin: auto;
    padding: 5px;
    padding-top: 5px;
    width: 300px;
    height: 20px;
    
}

.formPart label {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

input[name="submit"] {
    width: 130px;
}


/* FOOTER */

footer {
    padding-left: 15px;
    padding-right: 15px;
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px dotted black;
}

.footer {
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width:  200px;
    margin: 10px auto;
    text-align: center;
    border: 1px solid black;
}